head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Mafia online
  link(rel='shortcut icon' href='#')
  link(href='/index.css' rel='stylesheet' type='text/css')
  script(src='/socket.io/socket.io.js')
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Alata&family=Teko:wght@600&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oxygen&display=swap" rel="stylesheet")

  

.indexUI
  .indexMain
    .divMain
      .boxMain
        

  .indexTitleTextbox
    img#indexTitleText(src='./src/titleText.png')

  .indexIcon1
    span.iconIndexText Create
    #indexBtn0.unavailable


  .indexIcon2
    span.iconIndexText Join
    #indexBtn1.indexButtonBox


  .indexIcon3
    span.iconIndexText How to
    #indexBtn2.unavailable


  .indexIcon4
    span.iconIndexText About
    #indexBtn3.unavailable

.createUI
  .main
    .divMain
      .boxMain.txtWhite
        span Room Name: 
        .inputBox
          input#roomNameInput
        button#createButton.btnBox.widthFull Create
    
.gameUI
  .main 
    #divTop.stretchedToMargin
      #boxTop
        img#iconHat.disableSelect(src='./src/hat_dark.svg')


        #titleBox
          img#titleText(src='./src/titleText.png')
          span#titleSubtext alpha

        #headerBox
          p#mainHeader Welcome, please enter your name below!

        #gameSetupConsole.popupWindow
          .row
            .column
              p Duration

              .inputBox
                label Lobby
                input#lobbyDurInput(type='text' placeholder='90')
              br
              .inputBox
                label Night
                input#nightDurInput(type='text' placeholder='30')
              br
              .inputBox
                label Day
                input#dayDurInput(type='text' placeholder='120')
              br
              .inputBox
                label Voting
                input#voteDurInput(type='text' placeholder='15')

            .column
              p Roles

              .inputBox
                label Mafia
                input#mafiaInput(type='text' placeholder='')
              br
              .inputBox
                label Doctors
                input#doctorInput(type='text' placeholder='')
              br
              .inputBox
                label Detectives
                input#detectiveInput(type='text' placeholder='')
              br
              .inputBox
                label Breadman
                input#breadmanInput(type='text' placeholder='')

          br
          #gameStartBox
            button#gameStartBtn.btnBox.widthFull Start Game


        #player-listBox
          p#player-listTitle PLAYERS
          ul#player-list

        //#cardUI
          button#exitCard.exitButton
            .exitText &#10006
          img(src='./src/Template.svg').shadow

        #groupVoteGUI.popupWindow
          p#voteHeading Vote here:
          .groupVoteButtons
          br
          #voteSelect
          #confirmBtnBox
            button#exitVote.btnBox.widthFull Lock it in
          

        #gameEventGUI.alertWindow
          button#exitEvent.exitButton X
          p#gameEventTitle
          p#gameEventText

        //button#showCardBtn Show Card


        #usernameConsole.popupWindow
          p#usernameTitle Please enter your name...
          #usernameBox.inputBox
            input#usernameInput(autocomplete='off' data-lpignore="true" type='text')
            button#usernameTriggerBtn &#10148
          





          // bottom of screen maybe?

          #lowerMenu

            button#usernameBtn.lowerBtn Username 
              #usernameIcon &#10148

        //br
        //br






        #timerDisplay
          p
            | Current Phase: 
            span#curr-phase
            br
            |  Time: 
            span#time-left(style='color: green;')


        span#idHeader.txtWhite
        br
        span#nameHeader.txtWhite

        #groupArr0.panel
          .actionUpdates 
            .actionUpdatesBox
          img#dot1.iconDot(src='./src/iconDot.svg')
        #groupArr1.panel Role
          img#dot2.iconDot(src='./src/iconDot.svg')

        #groupArr2.panel

          
          #chatConsoleWindow
            #chatroomBtnBox
              button.chatroomBtn#chatroomBtn0 Main
              button.chatroomBtn#chatroomBtn1 Role
              button.chatroomBtn#chatroomBtn2 Plus

            #chatConsoleOutput
          input#chatConsoleMessage(type='text' placeholder='Message')
          button#chatConsoleSend Send

          img#dot3.iconDot(src='./src/iconDot.svg')

  .icon1
    img#iconArr0.iconMain.disableSelect(src='./src/action_dark_main.svg' draggable="false")
    img#alertArr0.iconAlert(src='./src/alert.svg' draggable="false")

  .icon2
    img#iconArr1.iconMain.disableSelect(src='./src/detective_journal.svg' draggable="false")
    img#alertArr1.iconAlert(src='./src/alert.svg' draggable="false")

  .icon3
    img#iconArr2.iconMain.disableSelect(src='./src/messages_dark_main.svg' draggable="false")
    img#alertArr2.iconAlert(src='./src/alert.svg' draggable="false")

  .taskbar
    #divTasks.stretchedToMargin
      #boxTasks

// .howtoUI
    .divMain
      .boxMain


// .aboutUI
    .divMain
      .boxMain


script(src='./function.js')
script(src='./app.js')
script(src='/socket.io/socket.io.js')
