/* ********* */
/* Universal */
/* ********* */ 

:root {
  --fontTitle: 'Teko', sans-serif;
  --fontMain: 'Montserrat', sans-serif;
  --fontText: 'Oxygen', sans-serif;;

  --textColor: hsla(0, 0%, 100%, 0.75);
  --popupColor: #353535;
  --accent: rgb(229,45,39, 0.8);
  --bgColor: #161616;

  --shadowMain: 0px 0px 15px 2px rgba(0,0,0,0.4);
  --shadowBig: 0px 10px 40px 25px rgba(0,0,0,0.35);

  /* NewUI colours */
  --UIBG: #3C3C3C;
  --UIFG: #1D1D1D;
}

body {
  background: var(--UIBG, #3C3C3C);
  /*background: rgb(22,22,22);
  background: linear-gradient(180deg, rgb(29, 29, 29) 70%, rgba(0,0,0,1) 100%);
  height: 100%;*/
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0;
}

h1{ 
  font-family: var(--fontMain);
  text-align: center; 
  color: var(--textColor, white);
  margin: auto;
}

p {
font-family: var(--fontMain);
font-size: 24px;
font-weight: 500;
color: white;
margin: 0;
}
/*
li {
margin: 2px;
}
*/
img {
  width: 100%;
  height: auto;
  border-style: none;
}

input {
font-family: var(--fontMain);
font-weight: 100;
color: white;
background-color: transparent;
font-size: 18px;
height: 100%;
margin: 0;
padding: 0;
outline: none;
border: none;
border-style: none;
z-index: 1;
position: relative;
width: 100%;
text-align: center;
}

::placeholder {

opacity: 0.3;

}

label {
font-family: var(--fontMain);
font-weight: 100;
font-size: 14px;
color: var(--textColor, white);
position: absolute;
top: 4px;
left: 4px;
z-index: 2;
padding: 0;
}


/* *********** */
/* UI Elements */
/* *********** */ 


/* INDEX */


/* GAME */

.gameUI { /* grid */
  height: 100vh; /* fallback */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: [main-start taskbar-start] 1fr 1fr 1fr [taskbar-end main-end];
  grid-template-rows: [main-start] auto [main-end taskbar-start] 84px [taskbar-end];
  background-color: var(--UIBG, #3C3C3C);
}

.main {
  grid-area: main;
  background-color: transparent;

}

.taskbar {
  grid-area: taskbar;
  background-color: transparent;
}

.icon1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: start;
  margin-left: 8px;
}

.icon2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}

.icon3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: end;
  margin-right: 8px;
}

#divTop {
  background-color: transparent;
  height: calc(100vh - 100px);
  height: calc(var(--vh, 1vh) * 100 - 100px);
}

#divTasks {
  background-color: transparent;
  height: 76px;
}



#boxTop {
  position: relative;
  height: 100%;
  margin: 8px;
  background-color: var(--UIFG, #1D1D1D);
  border-radius: 14px;
}

#boxTasks {
  position: relative;
  height: 100%;
  margin: 8px;
  margin-top: 0;
  background-color: var(--UIFG, #1D1D1D);;
  border-radius: 14px;
}

.stretchedToMargin {
  display: block;
  position:relative;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 0;
}

#iconHat {
  width: 75px;
  margin: 8px;
}

.iconMain {
  position: relative;
  z-index: 2;
  width: 60px;
  height: 60px;
  margin: 8px;
  cursor: pointer;
}

.iconDot {
  width: 8px;
  height: 8px;
  margin: 8px;
  bottom: 0;
  position: absolute;
}

#dot1 {
  left: 16px;
}

#dot2 {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#dot3 {
  right: 16px;
}

.iconSquare {
  width: auto;
}

#groupArr0 {
  left: 0;
}

#groupArr1 {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#groupArr2 {
  right: 0;
}

.panel {
background-color: var(--UIBG, #3C3C3C);
height: 80%;
width: 80%;
max-height: 600px;
min-width: min-content;
max-width: 550px;
position: absolute;
border-radius: 8px;
margin: 8px;
bottom: 0;
opacity: 1;
animation-duration: 0.5s;
display: none;
}

/* HOWTO */


/* ABOUT */








.disableSelect {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.row {
  display: flex;
  position: relative;

}

.column {
  flex: 50%;
  text-align: center;
  margin: 10px;
}

.widthFull {
  width: 100%;
}

.shadow {
  -webkit-box-shadow: var(--shadowMain); 
  box-shadow: var(--shadowMain);
}

.shadowBig {
  -webkit-box-shadow: var(--shadowBig); 
  box-shadow: var(--shadowBig);
}

.inputBox {
  /*global style class*/
  background-color: var(--bgColor, black);
  font-size: 24px;
  height: 36px;
  padding: 3px;
  outline: none;
  border: none;
  border-style: none;
  border-radius: 3px;
  position: relative;
  
}

.btnBox {
  /*global style class*/
  outline: none;
  border: none;
/*
  border: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  */
}

.alertWindow {
  background-color: var(--popupColor, black);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 800px;
  visibility: hidden;
  animation-duration: 1.5s;
  -webkit-box-shadow: var(--shadowMain); 
  box-shadow: var(--shadowMain);
}

.popupWindow {
  background-color: var(--popupColor, black);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: min-content;
  width: 40%;
  max-width: 800px;
  visibility: hidden;
  animation-duration: 1.5s;
  -webkit-box-shadow: 0px 10px 40px 25px rgba(0,0,0,0.35); 
  box-shadow: 0px 10px 40px 25px rgba(0,0,0,0.35);
}



#exitCard {
  right: 9px; 
}

.exitButton {
  background-color: var(--bgColor, black);
  color: var(--textColor, white);
  position: absolute;
  top: 3px;
  right: 3px;
  height: 25px;
  width: 25px;
  border-style: none;
  border-radius: 3px;
  padding: 0;
  font-size: 16px;
}


#confirmBtnBox {
  margin: auto;
  padding-bottom: 4px;
  
  height: 50px;
}

.exitText {
  position: relative;
  bottom: 1px;
}

#voteHeading {
  margin: 10px;
}
/*
.groupVoteButtons {
  margin: 10px;
}
*/
.playerButton {
  margin: 10px;
  height: 32px;
  font-family: var(--fontMain);
  font-weight: 400;
  width: max-content;
  padding: 0 10px;
  max-width: 100px;
  border-style: none;
  outline-style: none;
  border-radius: 3px;
  text-align: center;
}

#groupVoteGUI {
  visibility: hidden;
  height: auto;
  margin: auto;
  border-radius: 3px;
}

#voteSelect {
  display: none;
}


#exitVote {
  margin: 0;
  padding: 4px;
  margin-top: 10px;

  font-family: var(--fontText);
  font-size: 22px;
  font-weight: 500;
  color: black;
  background: white;
  -webkit-box-shadow: var(--shadowMain); 
  box-shadow: var(--shadowMain);
  height: 36px;
  padding: 3px;
}

#titleBox {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 24px;
}

#titleText {
  width: 50%;
}

#headerBox {
  width: 100%;
  margin-left: 20%;
  margin-right: 20%;
}



#titleSubtext {
  font-family: 'Teko', sans-serif;
  font-style: bold;
  font-weight: 600;
  color: white;
  font-size: 1.5vw;
}


#mainHeader {
  font-family: var(--fontMain);
  text-align: center;
  visibility: visible;
  padding-top: 4px;
  width: 60%;
  font-size: 1.5vw;
}



#gameSetupConsole {
  visibility: hidden;
  height: auto;
  margin: auto;
  border-radius: 3px;
}




#gameEventGUI {
  visibility: hidden;
  flex: 50%;
  text-align: center;
  margin: 0;
  padding: 8px;
  padding-right: 39px;
  border-radius: 3px;
}

#gameEventText {
  font-size: 14px;
}

#usernameConsole {
  visibility: hidden;
  padding: 10px;
  border-radius: 3px;
}

#usernameTitle {
  text-align: center;
  font-family: var(--fontMain);
}

#usernameBox {
  position: relative;
}

#usernameInput {
  position: absolute;
}

#usernameTriggerBtn {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  border-style: none;
  position: absolute; /*required for icon*/
  right: 6px;
  bottom: 5%;
  height: 100%;
  font-size: 100%;
  z-index: 2;
}










#gameStartBox {
  margin: auto;
  padding-bottom: 4px;
  
  height: 50px;
}

#gameStartBtn {
  font-family: var(--fontText);
  font-size: 22px;
  font-weight: 500;
  color: white;
  background: var(--accent, rgb(229,45,39, 0.8));
  -webkit-box-shadow: var(--shadowMain); 
  box-shadow: var(--shadowMain);
  height: 36px;
  padding: 3px;
}





  #chatConsole{
  width: 300px;
  height: 300px;
  margin: auto auto;
  padding: 15px;
  border: 1px solid rgb(255, 251, 1);
  background-color: rgb(102, 159, 167);
  position: relative;
  bottom: 100px;
  display: none;
}

#chatConsoleWindow{
  height: 60%;
  width: 100%;
  background: #97c1a9;
  position: relative;
}

#chatConsoleOutput p{
  padding: 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
  position: relative;
}

#chatConsoleMessage {
  width: 100%;
  height: auto;
  bottom: 0px;
  position: relative;
  color: #161616;
  background-color: burlywood;
  list-style: none;
  font-style: bold;
  font-family: var(--fontMain);
  font-size: 16px;
  font-weight: 900;
}
/*
#chatConsoleSend {

}
*/

#chatroomBtn0 {
  visibility: hidden;
}

#chatroomBtn1 {
  visibility: hidden;
}

#chatroomBtn2 {
  visibility: hidden;
}


#cardUI {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    height: 0;
    width: auto;
    border-style: none;
    border-style: none;
    visibility: hidden;
}


#player-listBox {
 background-color: teal;
 margin: 20px;
 padding: 4px;
 height: auto;
 width: 140px;
}

#player-listTitle {
  font-size: 18px;
  font-weight: 900;
  margin: 4px;
}

#player-list {
  list-style: none;
  font-style: bold;
  font-family: var(--fontMain);
  font-size: 16px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 1);
  padding: 1px;
  margin: 0;
  width: auto;
  height: auto;
}

.player-listItem {
  margin: 6px;
  /*background-color: rgba(64, 214, 97, 0.4);*/
  padding: 2px;
}


.votes {
  color: rgb(194, 0, 0);
  font-weight: bold;
}


.lowerBtn {
  bottom: 0;
  position: inherit;
  font-family: var(--fontText);
  font-size: 14;
  font-weight: 500;
  
  color: black;

  background: white;
  -webkit-box-shadow: var(--shadowMain); 
  box-shadow: var(--shadowMain);

  border: 0;
  outline: 0;
  height: 36px;
  width: 200px;
  padding: 0;
  margin: 10px;
}


#lowerMenu {
  bottom: 0px;
  width: 100%;
  height: 2%;
  background-color: var(--accent);
  position: fixed;
  background: rgb(161, 161, 161);
}

#usernameIcon {
  rotate: 270deg;
  font-size: 22px;
  color: black;
}






/*
https://cloudconvert.com/ai-to-svg
https://rgbacolorpicker.com/
https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
*/